<div class="panel panel-info">
  <div class="panel-heading"><%= locals[:name] %></div>
  <table class='table table-bordered table-condensed'>
    <tr>
      <th class="col-sm-8">Player</th>
      <th class="col-sm-4"><%= locals[:name] %></th>
    </tr>
    <% locals[:stats].each do |stat| %>
    <tr>
      <td>
        <% if stat['active'] %><b><% end %>
          <%= link_to [stat['name'], stat['team'], stat['year']].reject(&:blank?).join(', '), player_path(id: stat['id']) %>
        <% if stat['active'] %></b><% end %>
      </td>
      <td><%= stat['stat'] %></td>
    </tr>
    <% end %>
  </table>
</div>