<td><%= link_to @player.name, player_path(id: @player.player_id) %></td>
<% contract = @player.current_contract(@year, @franchise_id).select { |contract| contract.released == false} %>
<% escalation_cost = Contract.extension_cost(contract[0].salary) %>
<% last_salary = contract.last.salary %>
<% last_year = contract.size - 1 %>
<% 5.times do |idx| %>
  <% if contract[idx].nil? %>
    <% if idx == contract.size %>
      <% salary = last_salary + escalation_cost * (idx - last_year) %>
      <% salary = [salary, 10.0].min if Contract.grandfathered?(@player.player_id) %>
      <% cap_space = Contract.available_salary_cap(@year + idx, @franchise_id) %>
      <% if salary <= cap_space and salary != last_salary%>
        <td>
          <% message = "Extending #{@player.name} at #{salary}M for the #{@year + idx} season." %>
          <%= button_to salary, add_extensions_path(player_id: @player.player_id, franchise_id: @franchise_id, year: @year, extend_year: (@year + idx), salary: salary), data: { confirm: message, title: 'Are you sure?'}, remote: true, id: "extend#{@player.player_id}#{@year + idx}", class: 'btn btn-primary btn-xs' %>
        </td>
      <% else %>
        <td><!-- No Salary --></td>
      <% end %>
    <% else %>
      <td><!-- No Salary --></td>
    <% end %>
  <% else %>
    <td>
      <%= contract[idx].salary.round(1) %>
    </td>
  <% end %>
<% end %>