<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Pitchers</div>
			<% @pitchers.each { |position| %>
				<%= render 'partials/salaries'%>
			<% } %>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Hitters</div>
			<% @hitters.each { |position| %>
				<%= render 'partials/salaries', locals: {year: @year, franchise_id: @franchise_id, position: position} %>
			<% } %>
		</div>
	</div>
</div>