<div class="panel panel-info">
  <% team = nil %>
  <div class="panel-heading"><%= @transaction.processed_at.to_date.to_formatted_s(:long_ordinal) %> &mdash; Free Agent Signing</div>
  <% Transaction.where(transaction_group_id: @id).each do |signing| %>
    <% if team.nil? %>
      <% team = signing.to_team %>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= team.name %></h4>
    <% end %>
          <p class="list-group-item-text">
              <%= signing.player.name %>
          </p>
  <% end %>
        </li>
      </ul>
</div>