<div class="panel panel-primary">
  <div class="panel-heading">Transactions</div>
  <% Transaction.all_ids(@franchise_id, @transaction_type, 
                         @from_date.to_datetime.in_time_zone('Pacific Time (US & Canada)').beginning_of_day, 
                         @to_date.to_datetime.in_time_zone('Pacific Time (US & Canada)').end_of_day + 1.day)
                .reverse.each do |id| %>
    <% @transaction = Transaction.where(transaction_group_id: id).first %>
    <% @id = id %>
    <% if @transaction.transaction_type == 'TRADE' %>
      <%= render "partials/transaction_trade", local: {transaction: @transaction, id: @id} %>
    <% elsif @transaction.transaction_type == 'SIGN' %>
      <%= render "partials/transaction_sign", local: {transaction: @transaction, id: @id} %>
    <% elsif @transaction.transaction_type == 'RELEASE' %>
      <%= render "partials/transaction_release", local: {transaction: @transaction, id: @id} %>
    <% elsif @transaction.transaction_type == 'EXTEND' %>
      <%= render "partials/transaction_extend", local: {transaction: @transaction, id: @id} %>
    <% elsif @transaction.transaction_type == 'DRAFT' %>
    <% end %>
  <% end %>
</div>