<% if can?(:read, category) %>
  <div id='category_<%= category.id %>' class='category'>
  	<ol class='breadcrumb'>
    	<li class='active'><%= forem_emojify(category.name) %></li>
  	</ol>

    <%= render "/forem/forums/listing", :category => category %>
  </div>
<% end %>
