<div class='text-center'>
  <ul class='pagination pagination-sm'>
    <% @years.each { |year| %>
      <% if @year == year.to_s %><li class='active'><% else %><li><% end %>
        <%= link_to year, records_path(year: year) %>
      </li>
    <% } %>
  </ul>
</div>
<div class="row">
  <%= render 'records/performances', locals: {year: @year} %>
</div>