<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-primary">
    <div class="panel-heading">Players</div>
    <div class="panel panel-info">
      <div class="panel-heading">Free Agents</div>
      <table class='table table-bordered table-condensed tablesorter' id='free-agents'>
        <thead>
          <tr>
            <th class="col-sm-6">Player</th>
            <th class="col-sm-6">Primary Position</th>
          </tr>
        </thead>
        <tbody>
        <% @players.each { |player| %>
        <tr>
          <td sort-name='<%= "#{player.last_name.upcase}, #{player.first_name.upcase}" %>'><%= player.name %></td>
          <td><%= Player.position_name(player.position) %></td>
        </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>