<div class="row">
	<div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Today's Games</div>
      <div class="panel panel-info">
        <div class="panel-heading">James Huang Memorial Championship</div>
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">GAME</h4>
            <p class="list-group-item-text">
                YO
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= render "partials/standings", local: {year: Team.last.year} %>
  </div>
  <div class="col-md-offset-1 col-md-2">
  </div>
</div>