<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">Transactions</div>
      <% Transaction.all_ids.each do |id| %>
        <% @transaction = Transaction.where(transaction_group_id: id).first %>
        <% @id = id %>
        <% if @transaction.transaction_type == 'TRADE' %>
          <%= render "partials/transaction_trade", local: {transaction: @transaction, id: @id} %>
        <% elsif @transaction.transaction_type == 'SIGN' %>
          <%= render "partials/transaction_sign", local: {transaction: @transaction, id: @id} %>
        <% elsif @transaction.transaction_type == 'RELEASE' %>
          <%= render "partials/transaction_release", local: {transaction: @transaction, id: @id} %>
        <% elsif @transaction.transaction_type == 'EXTEND' %>
          <%= render "partials/transaction_extend", local: {transaction: @transaction, id: @id} %>
        <% elsif @transaction.transaction_type == 'DRAFT' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

