@import "bootstrap-sprockets";
@import "bootstrap";
@import "datepicker3";

body { 
  padding-top: 70px; 
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

.top-buffer { 
  margin-top:20px;
}

.scoreboard-badge {
  float: right;
  display: inline-block;
  min-width: 10px;
  line-height: 1;
}

.panel-info {
  border-radius: 0;
}

.panel-info .panel-heading {
  border-radius: 0;
}

.modal-dialog {
@media (min-width: 768px) {
    width: 700px;
  }
}

.modal-dialog {
@media (max-width: 768px) {
    pre {
      word-wrap: normal;
    }
  }
}